<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link">
                           @Html.ActionLink("Categorias","Index","Category", new { area = " "}, new { @class = "navbar-brand" })
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            @Html.ActionLink("Productos", "Index", "Product", new { area = " " }, new { @class = "navbar-brand" })
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            @Html.ActionLink("Salir", "Login", "UserAccount", new { area = " " }, new { @class = "navbar-brand" })
                        </a>
                    </li>

                </ul>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>